<h1>edit user</h1>
{{#if msq}}
  <div>{{msq}}</div>
{{/if}}
{{#each rows}}
  <form method="post" action="/edituser/{{this.Id}}" autocomplete="false">
    URL:<input
      type="text"
      name="url"
      value={{this.URL}}
      class="form-control"
    /><br />
    TITLE:<textarea
      name="title"
      class="form-control"
    >value={{this.TITLE}}</textarea><br />
    CONTENT:<textarea
      name="content"
      class="form-control"
    >value={{this.CONTENT}}</textarea><br />
    <button type="submit">Save changes</button><a href="/">back</a>
  </form>
{{/each}}