<a href="/adduser">
  <button class="btn btn-success">Add User</button></a>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>URL</th>
      <th>TITLE</th>
      <th>CONTENT</th>

    </tr>
  </thead>
  <tbody>
    {{#each rows}}
      <tr>
        <td>{{this.ID}}</td>
        <td><img src="{{this.URL}}" height="100" /></td>
        <td>{{this.TITLE}}</td>
        <td>{{this.CONTENT}}</td>
        <td><a href="/edituser/{{this.ID}}"><button
              class="btn btn-primary"
            >edit</button></a></td>
        <td><a href="/deleteuser/{{this.ID}}"><button
              class="btn btn-danger"
              onclick="return confirm('Are you sure?')"
            >delete</button></a></td>

        <td></td>

      </tr>

    {{/each}}
  </tbody>
</table>